<div class="main-content">
  <div class="date-container">
    <div class="date-content">
      <img src="assets/icons/Vector.svg" />
      <span class="typography-gray"> مارس 2022 </span>
      <img style="margin-top: 0.5rem" src="assets/icons/calendar-2.svg" />
    </div>
    <img src="assets/icons/left-arrow.svg" />
    <img src="assets/icons/right-arrow.svg" />
    <span class="typography-black"> المواعيدتقويم </span>
  </div>

  <div class="week-container">
    <div class="grid-container">
      <div
        *ngFor="let item of weekItems"
        class="typography-light-gray day-container"
      >
        <div [class.selected-day-container]="item.index === 5">
          <div>
            {{ item.title }}
          </div>
          <div
            class="typography-day-num"
            [class.selected-day-circle]="item.index === 5"
          >
            {{ item.dayNum }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngFor="let item of commentsItems"
    class="comments-container"
    [style]="{ backgroundColor: item.color }"
  >
    <div class="typography-black">
      <span [class.selected-comment]="item.index === 2">
        {{ item.title }}
      </span>
    </div>
    <div class="typography-gray">
      <span [class.selected-comment]="item.index === 2">
        {{ item.time }}
      </span>
      <img src="assets/icons/clock.svg" />
    </div>
    <div>
      <span class="left-arrow-container"
        ><img src="assets/icons/Arrow - Left.svg" />
      </span>
      <span class="typography-black">
        <span [class.selected-comment]="item.index === 2">{{ item.user }}</span>
      </span>
      <img [src]="item.src" />
    </div>
  </div>
</div>
