.main {
  background-color: #fffffc;
  height: 100%;
}

.logo {
  height: 7.87rem;
  padding: 0.5rem;
  align-items: center;
  text-align: center;
  padding-top: 10%;
}

.menu-container {
  text-align: right;
  padding: 1.2rem 1.34rem 1.2rem;
}

.typography-gray {
  color: #cfcfcf;
  font-family: Neo Sans Arabic;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem; /* 175% */
}

.typography-black {
  color: #2e2e2e;
  font-family: Neo Sans Arabic;
  font-size: 0.84375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem; /* 155.556% */
}

.grid-container {
  display: grid;
  gap: 0.2rem;
}

.grid-container > div {
  min-height: 2.625rem;
  flex-shrink: 0;
}

.dropdown-arrow {
  float: left;
}

.selected-home {
  border-radius: 2.8125rem 0rem 0rem 2.8125rem;
  background: #feee00;
  width: auto;
  padding-right: 2rem;
  margin-right: -2rem;
  padding-left: 0.4rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.sub-items-container {
  margin: 1.58rem 2rem;
  color: #2e2e2e;
}

.second-part-menu {
  margin: 1.45rem 1.34rem 3.09rem;
}

img {
  margin: -0.3rem 0.5rem;
}
