<div class="main">
  <div class="logo">
    <img src="assets/icons/Group 80.svg" />
  </div>
  <div class="menu-container">
    <div class="typography-gray">الرئيسية</div>
    <div class="typography-black grid-container">
      <div *ngFor="let item of menuItems">
        <div>
          <span class="dropdown-arrow"
            ><img src="assets/icons/Vector.svg"
          /></span>
          {{ item.title }}
          <span [class.selected-home]="item.index === 1"
            ><img src="assets/icons/home.svg"
          /></span>

          <div
            *ngIf="item.index === 1"
            class="sub-items-container grid-container"
          >
            <div *ngFor="let subItem of subMenuItems">
              {{ subItem.title }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="typography-gray second-part-menu">الحساب</div>

    <div class="typography-black">
      المساعدة
      <span><img src="assets/icons/info-circle.svg" /></span>
    </div>
    <div class="typography-black">
      الاعدادات
      <span><img src="assets/icons/setting-2.svg" /></span>
    </div>
  </div>
</div>
